@page
@model DevelopmentModel
@{
    ViewData["Title"] = "Software Development";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <img src="~/images/dev-img.jpg" class="img-responsive">
        </div>
        <div class="jumbotron col-md-4">
            <p>Deep experience developing and testing on the leading web technologies, our bilingual web engineers, 
                collaborating closely with our global customers, have developed hundreds of websites.
            </p>
        </div>   
    </div>
</div>
