﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="4000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/wall1.jpg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
            </div>
        </div>
        <div class="item">
            <img src="~/images/wall2.jpg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
            </div>
        </div>
        <div class="item">
            <img src="~/images/wall3.jpg" alt="Package Management" class="img-responsive" />
            <div class="carousel-caption" role="option">
            </div>
        </div>
        <div class="item">
            <img src="~/images/wall4.jpg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="jumbotron">
    <div class="row">
    <div class="col-md-3">
        <h2>Who we are.</h2>
        <p>We are a Software Solutions Enterprise that helps your business to get noticed for everyone.</p>
    </div>
    <div class="col-md-3">
        <h2>What we do.</h2>
        <p>We build and design awesome web sites for our clients by using the top trending technologies always with the engagement to enhance our clients business.</p>
    </div>
    <div class="col-md-3">
        <h2>Our Team</h2>
        <p>We have the best team! We count with multiple Software Engineers trained in different fields of the Web Development.</p>
    </div>
    <div class="col-md-3">
        <h2>Where are we?</h2>
        <p>You can find us in San Carlos, Ciudad Quesada.</p>
    </div>
</div>
</div>

