@page
@model OutsourcingModel
@{
    ViewData["Title"] = "Outsourcing";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <img src="~/images/out-img.jpg" class="img-responsive">
        </div>
        <div class="jumbotron col-md-4">
            <p>Implementation of market best practices and processes automation guarantees speed, accuracy and a 
                smooth build process, resulting in higher productivity for our customers. 
            </p>
        </div>   
    </div>
</div>
