@page
@model QualityModel
@{
    ViewData["Title"] = "Quality";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <img src="~/images/qa-img.jpg" class="img-responsive">
        </div>
        <div class="jumbotron col-md-4">
            <p>Comprehensive experience from Requirements Analysis to Automation, we offer a complete 
                range of testing services paired with proven methodologies and exceptional talent.
            </p>
        </div>   
    </div>
</div>
