@page
@model ServicesModel
@{
    ViewData["Title"] = "Services";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>



<div class="jumbotron">
    <div class="row">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Software Development
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        Your company may take advantage on others through a web app adjusted to its needs. In this solution you’ll find: speed, reasonable prices and quality.
        <a asp-page="/Development" class="pull-right btn btn-primary btn-sm">FIND OUT MORE</a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Outsourcing
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        If you need greater team reach or a whole team project, Tech-Labs has professionals at your disposal, 
        such a project managers, engineers and QA specialists, who can supply the actual demand in a fast and secure way.
        <a asp-page="/Outsourcing" class="pull-right btn btn-primary btn-sm">FIND OUT MORE</a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Quality Assurance
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        We’ll like to help you since day one improving software quality, working along with you in every step, until we are sure of the road and correct when it's needed.
        <a asp-page="/Quality" class="pull-right btn btn-primary btn-sm">FIND OUT MORE</a>
      </div>
    </div>
  </div>
</div>
    </div>
</div>
